.example-margin{
    margin-right: 2vw;
}

.row{
    margin: 1vh;
}

.exemple-space{
    padding: 2vh;
}

mat-checkbox{
    margin-left: 10vw;
}

.form-control-half-width{
    margin-right:1vh;
    margin-left: 1vh ;
    margin-top: 1vh ;
    margin-bottom:1vh ;
    width: 45%;
}

.form-control-full-width{
    width: calc(90% + 2vh);
}

.form-control-third-width{
    width: calc(90% / 3 - .5vh);
    margin-right:1vh;
    margin-left: 1vh ;
}

button{
    font-size: 16px;
}