<body>
  <nav>
    <span class="title">Tableau de bord</span>
    <span class="example-spacer"></span>
  </nav>
  <mat-divider></mat-divider>
  <section>
    <article class="quick-stats">
      <mat-card class="quick-stats-card">
        <div class="info-div">
          <H1>{{monthlyclientList.length}}</H1>
          <Span>Clients Mensuels</Span>
        </div>
        <div class="icon-div">
          <mat-icon>date_range</mat-icon>
        </div>
      </mat-card>
      <mat-card class="quick-stats-card">
        <div class="info-div">
          <H1>{{clientList.length}}</H1>
          <Span>Clients</Span>
        </div>
        <div class="icon-div">
          <mat-icon>handshake</mat-icon>
        </div>
      </mat-card>
      <mat-card class="quick-stats-card">
        <div class="info-div">
          <H1>{{salesList.length}}</H1>
          <Span>Ventes</Span>
        </div>
        <div class="icon-div">
          <mat-icon>real_estate_agent</mat-icon>
        </div>
      </mat-card>
      <mat-card class="quick-stats-card">
        <div class="info-div">
          <H1>{{claimList.length}}</H1>
          <Span>Réclamations</Span>
        </div>
        <div class="icon-div">
          <mat-icon>error_outline</mat-icon>
        </div>
      </mat-card>
    </article>



    <article class="main-stats">
      <div class="row">
        <mat-card class="main-stats-card" id="gender-card">
          <mat-card-header>
            <h1>Genres</h1>
          </mat-card-header>
          <mat-card-content>
            <canvas id="gender-pie-chart"></canvas>
          </mat-card-content>
        </mat-card>

        <mat-card class="main-stats-card" id="appartement-type-card">
          <mat-card-header>
            <h1>Intérêt de type d'appartements </h1>
          </mat-card-header>

          <mat-card-content>
            <canvas id="appartement-bar-chart"></canvas>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="row">
        <mat-card class="main-stats-card">
          <mat-card-header>
            <H1>Adresse d'origine</H1>
          </mat-card-header>

          <mat-card-content>
            <canvas id="adress-bar-chart"></canvas>
          </mat-card-content>
        </mat-card>
        <mat-card class="main-stats-card" id="info-type-card">
          <mat-card-header>
            <H1>Source d'information</H1>
          </mat-card-header>
          <mat-card-content>
            <canvas id="info-pie-chart"></canvas>
          </mat-card-content>
        </mat-card>
      </div>

    </article>
  </section>
</body>