.dialog-title{
    margin: 2vh;
    display: flex;
}

.example-margin{
    margin-right: 2vw;
}

.row{
    margin: 1vh;
    display: flex;
}


.exemple-space{
    padding: 2vh;
}

.sub-row{
    width: fit-content;
    margin-left: 10vw;
    padding: 5px;
}
.form-control-half-width{
    margin-right:1vh;
    margin-left: 1vh ;
    margin-top: 1vh ;
    margin-bottom:1vh ;
    width: 45%;
}

.form-control-full-width{
    width: calc(90% + 2vh);
    margin-left: 1vh;
}

.form-control-third-width{
    width: calc(90% / 3 - .5vh);
    margin-right:1vh;
    margin-left: 1vh ;
}

.confirm-btn{
    font-size: 1em;
    color: #ff914d;
    position:absolute;
    right: 2vh;
}


.example-margin {
    margin: 1vh 0 1vh 2vh;
}