<div class="dialog-title" mat-dialog-title>
    <h1>Modifier une Réclamation</h1>
    <button mat-button class="confirm-btn" [mat-dialog-close]="data.claim" cdkFocusInitial>Confirmer</button>
</div>
<mat-dialog-content>
    <div class="row">
        <mat-checkbox class="example-margin" color="primary" [(ngModel)]="data.claim.resolved"><strong style="font-size: 16px;">Résolu</strong></mat-checkbox>
    </div>
    <div class="row">
        <mat-form-field class="form-control-half-width" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput type="date" [(ngModel)]="data.claim.date">
            <mat-hint>MM/JJ/AAAA</mat-hint>
        </mat-form-field>
        <mat-form-field class="form-control-half-width" appearance="outline">
            <mat-label>Concernant</mat-label>
            <mat-select [(ngModel)]="data.claim.type">
                <mat-option value="Produit">Produit</mat-option>
                <mat-option value="Service">Service</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="form-control-full-width" appearance="outline">
            <mat-label>Details de Réclamation</mat-label>
            <textarea matInput rows="6" [(ngModel)]="data.claim.details"></textarea>
        </mat-form-field>
    </div>
    <div class="row">
        Type de Réponce:
        <mat-radio-group [(ngModel)]="data.claim.response">
            <mat-radio-button class="example-margin" value="Télephone">Télephone</mat-radio-button>
            <mat-radio-button class="example-margin" value="Email">Email</mat-radio-button>
            <mat-radio-button class="example-margin" value="Autre">Autre</mat-radio-button>
        </mat-radio-group>
    </div>
</mat-dialog-content>