<H1 mat-dialog-title > Modifier un utilisateur</H1>
<div class="dialog-content" mat-dialog-content >

    <mat-form-field class="form-control-full-width" appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="data.user._id" disabled="">
    </mat-form-field>
    <mat-form-field class="form-control-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="data.user.email" >
    </mat-form-field>
    <mat-form-field class="form-control-full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="data.user.username" >
    </mat-form-field>
    <mat-form-field class="form-control-full-width" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput [(ngModel)]="data.user.password" >
    </mat-form-field>    
</div>

<mat-dialog-actions align="end" >
    <button mat-button class="submit-btn" color="primary" [mat-dialog-close]="data" cdkFocusInitial >mise à jour</button>
</mat-dialog-actions>