<body>
    
    <nav>
        <span class="title">Journal de client {{client?.lastname}} {{client?.name}} </span> 
        <span class="example-spacer"></span>
        <button mat-button class="add-btn" (click)="addRecord()" ><mat-icon class="add-icon">add_circle_outline</mat-icon>Ajouter un enregistrement</button>
        <input type="text" class="search-input" placeholder="Recherche... " (keyup)="applyFilter($event)" #input><mat-icon class="Search-icon" >search</mat-icon>
    </nav>
    <mat-divider></mat-divider>
    <section class="table-section">
        <mat-card class="table-card">
            <div>
                <table mat-table [dataSource]="dataSource" matSort>
    
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Date</strong> </th>
                        <td mat-cell *matCellDef="let record"> {{ record.date}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Type</strong> </th>
                        <td mat-cell *matCellDef="let record"> {{ record.type}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Titre</strong> </th>
                        <td mat-cell *matCellDef="let record"> {{ record.title}} </td>
                    </ng-container>
            
                
                    <ng-container matColumnDef="content">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <Strong>Contenu</Strong> </th>
                        <td mat-cell *matCellDef="let record" class="content-td"> {{ record.content}} </td>
                    </ng-container>
            
            
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Action</strong>  </th>
                        <td mat-cell *matCellDef="let record" > 
                        <button mat-button color="primary" (click)="updateRecord(record)"><mat-icon>edit</mat-icon></button>
                        <button mat-button color="warn" (click)="deleteRecord(record)"><mat-icon>delete</mat-icon></button>
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let record; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Aucune donnée ne correspond au "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 25]" aria-label="Select page of users"></mat-paginator>
            </div>
        </mat-card>
        
    </section>
</body>